body {
  font-size: 16px;
  word-break: break-all;
}

.root {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
}

.navigation {
  margin-right: 15px;
}

a {
  text-decoration:  none;
  font-size: 16px;
  color: none;
}

.image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 5px 0 0;
  float: left;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#article-list,
#page-list {
  margin: 0;
  padding: 0;
}

#comment-list {
  padding-left: 15px;
}

.article,
.page,
.comment {
  list-style: none;
}

.timestamp,
.comment {
  font-size: 14px;
}

.timestamp {
  color: grey;
}

.comment-content {
  padding-left: 55px;
}

.comment {
  margin-top: 15px;
}

.form-input {
  margin-bottom: 15px;
}

#comment-content-input {
  margin: 0;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  font-size: 14px;
  border: 1px solid lightgray;
}

#comment-submit-btn {
  padding: 5px 65px;
}

#captcha {
  width: 80px;
}