a {
    text-decoration: none;
}

#article-title {
    text-align: center;
}

.glyphicon-eye-open {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.form-group {
    margin: 0;
    padding: 0;
    width: 50%;
    height: auto;
}

.article-tag {
    font-size: 20px;
}

.form-control > input,
.form-control > textarea {
    width: 100%;
    border: 0;
}

.form-control > input {
    height: 40px;
    font-size: 26px;
}

.form-control > textarea {
    height: 80%;
    font-size: 16px;
}

.submit-button {
    padding: 5px;
    font-size: 20px;
}

.manage-article-form {
    background-color: darkgrey;
}

.block-code {
    background-color: #0F3741;
    color: white;
}

p {
    margin: 0px;
}

th, td {
    border: 1px solid silver;
    padding: 2px;
    font-size: 16px;
}
p > img {
    margin: 0px 10%;
}

@media only screen and (max-width: 768px) {
    p > img {
        width: 245px;
        height: auto;
        margin: 0px 14%;
    }
}