Dockerfile*
docker-compose*
LICENSE
.dockerignore
.git
.gitignore
*.pid
.idea
.vscode
*/obj
*/bin
*/node_modules
*/__pycache__
*/package*
*/gulpfile.js
*/setup.cfg
*/README.md
*/LICENSE
*/log
*/data
*/run
