
# directories

.git
.idea
.vscode
.mypy_cache
cache
captcha
data
dj_assets
**/public
*/__pycache__
*/bin
*/obj
*/log
*/run
**/build
**/compose/**
**/node_modules


# files

.dockerignore
.gitignore
docker-compose*
npm-debug.log
*.pid
*/LICENSE
*/package-lock.json
*/setup.cfg
*/README.md


# directories not to be ignored

!**/apps/captcha


# files not to be ignored

!**/entrypoint
!**/start
!**/*.sh
!**/*.ini
