
# directories

.git
.idea
.vscode
.mypy_cache
assets
captcha
data
**/cache
**/__pycache__
**/log
**/run
**/build/**
**/compose/**
**/node_modules


# files

.dockerignore
.gitignore
docker-compose*
**/*.pid
**/LICENSE
**/package-lock.json
**/README.md
**/setup.cfg


# directories not to be ignored
!**/apps/captcha
!**/frontend/data/**


# files not to be ignored

!**/entrypoint
!**/start
!**/*.sh
!**/*.ini
