# diretories

.idea
.vscode
.mypy_cache
cache
captcha
coverage_html_report
dj_assets
markdown
postgresql
redis
run
siteEnv
var
**/public
**/data/**
**/build/**
**/node_modules/**


# files

**/package-lock.json


# not ignored directories

!**/frontend/data
!**/apps/captcha


# not ignored files
!**/public/*.ico