# diretories

.idea
.vscode
.mypy_cache
assets
cache
captcha
coverage_html_report
markdown
postgresql
redis
run
siteEnv
var
captcha
**/public/assets
**/public/static
**/data/**
**/build/**
**/node_modules/**


# files

.coverage
*.webp
**.min.**
*.pyc
**/package-lock.json


# not ignored directories

!**/frontend/data
!**/frontend/static
!**/apps/captcha


# not ignored files
!**/public/*.ico