# diretories

.idea
.vscode
.mypy_cache
backup
cache
dj_static
coverage_html_report
markdown
postgresql
redis
run
siteEnv
var
captcha
**/public/static
**/data/**
**/build/**
**/node_modules/**


# files

.coverage
*.webp
*.pyc
**/package-lock.json


# not ignored directories

!**/frontend/data
!**/apps/captcha


# not ignored files
