amqp==2.3.2
appdirs==1.4.3
astroid==2.0.4
bcrypt==3.1.4
billiard==3.5.0.4
bleach==3.1.0
celery==4.2.1
certifi==2018.10.15
cffi==1.11.2
Cython==0.27.3
Django==2.1.9
django-crispy-forms==1.7.0
django-ipware==2.1.0
django-redis==4.9.0
djangorestframework==3.9.1
gevent==1.4.0
greenlet==0.4.15
html5lib==1.0b10
isort==4.3.4
itsdangerous==0.24
kombu==4.2.1
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.8.1
mysqlclient==1.3.12
olefile==0.44
packaging==16.8
Pillow==4.1.1
pycparser==2.18
Pygments==2.2.0
pylint==2.1.1
pyparsing==2.2.0
pytz==2017.3
redis==2.10.6
sentry-sdk==0.4.3
six==1.10.0
sqlparse==0.2.4
typed-ast==1.1.0
Unidecode==1.0.22
urllib3==1.24.2
vine==1.1.4
webencodings==0.5.1
pylint==2.1.1
sentry-sdk==0.4.3
wrapt==1.10.11
uwsgi==2.0.17.1
flower>=0.9
