<form class="form-inline">
    {% for field in form %}
        <div class="form-group">
            {% if field.label %}
                <label class="comment-label-name" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
            {% endif %}
            <div class="input-box">
                {{ field }}
            </div>
            {% if field.help_text %}
                <p class="small">{{ field.help_text }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <br>
    <input type="button" onclick="postComment({{ article.id }})"
           class="my-btn" value="Reply">
</form>
