<form class="form-inline">
    {% for field in form %}
        <div class="form-horizontal">
            {% if field.label %}
                <label class="col-sm-10 comment-label-name"
                       for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
            {% endif %}
            <div class="col-sm-10">
                <div class="input-box {{ field.label }}">
                    {{ field }}
                </div>
            </div>
            {% if field.help_text %}
                <p class="small">{{ field.help_text }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="form-horizontal">
        <div class="col-sm-10">
            <input type="button" onclick="postComment({{ article.id }})"
                   class="btn btn-default my-btn" value="Reply">
        </div>
    </div>
</form>
