{% extends "article/base.html" %}
{% block article %}
    <blockquote>
        在<strong> {{ category.category_name }}</strong> 分类下面有<span
            class="badge">
        {{ category.article_set.count }}</span>篇文章。
    </blockquote>
        {% for article in articles %}
            <li style="list-style: none; text-align: center;">
                <a href="{% url "article:detail" article.id %}">
                    {{ article.title }}</a>
            </li>
        {% endfor %}
    {% block pagination %}
        {% include "article/pagination.html" %}
    {% endblock %}
{% endblock %}
