{% extends 'backend_base.html' %}
{% load dashboard_filters_tags %}
{% block title %}Category Management{% endblock %}
{% block content %}
    {% all_categories as categories %}
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>#</td>
            <td>Category Name</td>
            <td>Operations</td>
            <td>Article Number</td>
            <td>Created Time</td>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'category:all_article' category.id %}" target="_blank">
                        {{ category.name }}
                    </a>
                </td>
                <td>
                    <li class="label label-success">
                        <a href="#">edit</a>
                        <span class="fa fa-pencil"></span>
                    </li>
                    <li class="label label-danger">
                        <a href="{% url 'category:delete' category.id %}">
                            delete
                        </a>
                        <span class="fa fa-trash"></span>
                    </li>
                </td>
                <td>{{ category.article_set.count }}</td>
                <td>{{ category.created_time|date:"d/m/Y" }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <form class="form-inline" action="{% url 'category:add' %}" method="post">
        {% csrf_token %}
        <h3>添加分类</h3>
        <div class="form-group">
            <label for="category_name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Category name">
            {% if error_msg %}
                <label class="errorlist" for="error">{{ error_msg }}</label>
            {% endif %}
        <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
{% endblock %}