body {
    font-family: 'Roboto', sans-serif
}

li {
    list-style: none
}

.block-code {
    background-color: #0f3741;
    color: white
}

p {
    margin: 0
}

th, td {
    border: 1px solid silver;
    padding: 4px;
    font-size: 16px
}

p > img {
    margin: 0 10%
}

@media only screen and (max-width: 768px) {
    p > img {
        width: 245px;
        height: auto;
        margin: 0 14%
    }
}

.article-title, .article-created-time {
    color: grey;
    font-size: 14px;
    margin: 0
}

.article-title {
    float: left
}

.article-created-time {
    float: right
}

.underline {
    margin-top: 0;
    margin-bottom: 2px;
    padding: 0;
    border: 1px solid lightgrey
}
