body {
    font-family: 'Roboto', sans-serif
}

li {
    list-style: none
}

.block-code {
    background-color: #0f3741;
    color: white
}

p {
    margin: 0
}

th, td {
    border: 1px solid silver;
    padding: 4px;
    font-size: 16px
}

p > img {
    margin: 0 10%
}

@media only screen and (max-width: 768px) {
    p > img {
        width: 245px;
        height: auto;
        margin: 0 14%
    }
}

.article-title, .article-created-time {
    color: grey;
    font-size: 14px;
    margin: 0
}

.article-title {
    float: left
}

.article-created-time {
    float: right
}

.underline {
    margin-top: 0;
    margin-bottom: 2px;
    padding: 0;
    border: 1px solid lightgrey;
}

.post-meta,
.article-extra {
    font-size: 14px !important;
}

#comment-content {
    margin-top: 20px;
    display: block;
}

#list  {
    margin-left: 15px;
    padding: 0px;
}

.floor {
    font-size: 14px;
}

.username {
    text-decoration: underline;
    font-size: 16px;
    display: inline-block;
    padding: 0px 4px;
}

.datetime, .reply {
    margin-left: 10px;
    color: grey;
}

.datetime {
    font-size: 12px;
}

.comment-text {
    padding-left: 20px;
}

.reply {
    font-size: 14px;
    color:black;
}

.reply:hover {
    display: inline-block;
    border-radius: 2px;
    padding: 1px 4px;
    background-color: #2e6da4;
    color: white;
}

.input-box >input,
.input-box > textarea {
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 16px;
}

.comment-label-name {
    font-size: 12px;
    margin: 0px;
}

textarea {
    height: 100px;
    width: 100%;
    resize: none;
}

.my-btn {
    padding: 1px 15px;
}