{% load article_tags %}
<div class="comment-content" id="comments">
    <p class="fa fa-comment"> {{ comments.paginator.count }}
        Comment{{comments.paginator.count | pluralize }}
    </p>
    <hr id="underline">
    <ul id="comment-list">
        {% for comment in comments %}
        <li class="comment">
            <a href="{% if comment.link %}http://{{ comment.link }}
                         {% endif %}" class="username">
                {{ comment.username }}
            </a>
            <span class="datetime">
                {{ comment.created_time|date:"r" }}
            </span>
            <div class="comment-text">
                {{ comment.comment_text | banxss | md | safe }}
            </div>
            <span class="reply" data-commenter='{{ comment.username }}'>
                Reply
            </span>
        </li>
        {% empty %}
        <li class="comment empty">No Comments yet!</li>
        {% endfor %}
    </ul>
    {% if comments %}
    <nav class="container-fluid" aria-label="Page navigation">
        <ul class="pagination pagination-sm">
            {% if comments.has_previous %}
            <li class="previous">
                <a href="?page={{comments.previous_page_number}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page_num in comments.paginator.page_range %}
            <li><a href="?page={{page_num}}">{{page_num}}</a></li>
            {% endfor %}
            {% if comments.has_next %}
            <li class="next">
                <a href="?page={{comments.next_page_number}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>