{% extends "article/base.html" %}
{% block content %}
<blockquote>
    在<strong>
        <div class="label label-primary">
            <span class="fa fa-folder-open">
                {{ category.name }}
            </span>
        </div>
    </strong>
    分类下有<span class="badge">{{ category.article_set.count }}</span>篇文章。
</blockquote>
{% for article in articles %}
<ul>
    <li class="article-categorized-list">
        <a href="{% url 'article:detail' article.slug %}">
            {{ article.title }}</a>
    </li>
</ul>
{% endfor %}
{% endblock %}
{% block pagination %}
{% include "article/pagination.html" %}
{% endblock %}