{% extends "custom_base.html" %}
{% block title %}<title>LogIn</title>{% endblock %}
{% block main %}
    <b><p>{{ status }}</p></b>
    <form action="" method="post">
        {% csrf_token %}
            {% for field in form %}
                <div class="form-group label-tag-name">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="small">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
    </form>
{% endblock %}
