{% extends "custom_base.html" %}
{% block title %}<title>reset password</title>{% endblock %}
{% block main %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.label %}
            <label class="field-label" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
                {{ field.help_text | safe }}
            {% endif %}
            {% for error in field.errors %}
                <p class="small error">{{ error }}</p>
            {% endfor %}
            </label>
        {% endfor %}
    </form>
{% endblock %}