{% extends "backend_base.html" %}
{% block title %}ResetPasswordRequest{% endblock %}
{% block content %}
    <form action="{% url "users:reset_request" %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.label %}
            <label class="field-label" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {% endif %}
            {{ field }}

            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="small error"><strong>{{ error }}</strong></p>
                {% endfor %}
            {% endif %}

        {% endfor %}
    </form>
{% endblock %}