{% extends 'custom_base.html' %}
{% block title %}<title>Create account</title>{% endblock %}
{% block main %}
    <form action="{% url 'users:register' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="field-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.help_text %}
                    <p class="small">{{ field.help_text }}</p>
                {% endif %}
            </div>
            {% if field.errors %}
                <div class="errors">
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}
