{% extends 'article/base.html' %}
{% block article %}
<ul id="articles">
    <li class="article-title-header">title</li>
    <li class="article-created-time-header">date</li>
    <br>
    <hr id="underline">
    {% for article in articles %}
    <li class="article-title">
        <a href="{% url 'articles:detail' article.slug %}">
            {{ article.title }}
        </a>
    </li>
    <li class="article-created-time">
        {{ article.created_time | date:"Y.m.d D h:i a" }}
    </li>
    <br>
    {% endfor %}
</ul>
{% include 'article/pagination.html' %}
{% endblock %}