{% extends 'article/base.html' %}
{% block article %}
<ul>
    <li class="article-title">Title</li>
    <li class="article-created-time">Time</li>
    <br>
    <hr class="underline">
    {% for article in articles %}
    <li class="article-title">
        <a href="{% url " article:detail" article.slug %}">
            {{ article.title }}
        </a>
    </li>
    <li class="article-created-time">{{ article.created_time }}</li>
    <br>
    {% endfor %}
</ul>
{% include 'article/pagination.html' %}
{% endblock %}