{% load article_tags %}
{% for article in articles %}
{% split_tags article.tags as tags %}
<div class="post-preview">
    <h2 class="post-title">
        <a href="{% url 'articles:detail' article.slug %}">
            {{ article.title }}
        </a>
    </h2>
    </a>
    <article class="post-subtitle">
        {{ article.article_body | truncatechars:140 | md | banxss | safe }}
    </article>
    <div class="article-extra">
        <span class="fa fa-folder">
            <a href="{% url 'category:all_article' article.category.name %}">
                {{ article.category }}
            </a>
        </span>
        <span class="fa fa-tag"></span>
        {% for tag in tags %}
        <a href="{% url 'articles:tag' tag %}">
            #{{ tag }}
        </a>
        {% endfor %}
        <span class="fa fa-comments"></span>
        <a href="{% url 'articles:detail' article.slug %}#comments">
            <span>
                {{ article.comment_set.count }}
                comment{% mypluralize article.comment_set.count %}
            </span>
        </a>
        <span class="fa fa-eye"></span>
        <span>{{ article.view_times }}</span>
    </div>
    <p class="post-meta">
        Posted by <a href="#">{{ article.author }}</a> on
        {{ article.created_time | date:"Y.m.d D h:i a" }}
    </p>
</div>
{% empty %}
<div class="post-preview">
    <h2 class="post-title empty">暂无文章</h2>
</div>
{% endfor %}