<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="title" content="">
        <meta name="keywords" content="">
    {% endblock %}

    <title>Clean Blog</title>

    <!-- title icon -->
    <link rel="shortcut icon" href="{% static "img/luffy.png" %}"
          type="image/png">

    <!-- bookmark icon -->
    <link rel="icon" href="{% static "img/luffy.png" %}" type="image/png">


    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Customized Theme CSS -->
    <link href="{% static "css/clean-blog.min.css" %}" rel="stylesheet">

    <!-- Customized CSS -->
    <link href="{% static "css/mystyle.css" %}" rel="stylesheet">

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#list-in-navbar-to-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand"
               href="{% url "article:index" %}">Homepage</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="list-in-navbar-to-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'users:login' %}">backend</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'users:logout' %}">logout</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'article:all' %}">all articles</a>
                </li>
                <li>
                    <a href="{% url 'category:all_category' %}">all
                        categories</a>
                </li>
                <li>
                    <a href="#">about</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header"
        style="background-image: url('{% static "img/home-bg.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 id="blog-head">CodingOnTux</h1>
                    <hr class="small">
                    <span class="subheading">Keep Stupid, Keep Hungry, Keep It Simple.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% block article %}
            {% endblock %}
            {% block comment_content %}
            {% endblock %}
            {% block comment_input %}
            {% endblock %}
            {% block pagination %}
            {% endblock %}
        </div>
    </div>
</div>

<hr>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://github.com/leollon">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x
                                    fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-creative-commons fa-stack-1x
                                    fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/leollon92">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x
                                    fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Leo's blog 2017<br>Powered
                    by Django & Boostrap</p>
                <p class="blog-arch text-muted"></p>
            </div>
        </div>
    </div>
</footer>
{% block scripts %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/clean-blog.min.js" %}"></script>
{% endblock %}

</body>

</html>
