{% extends "backend_base.html" %}
{% block title %}Editor{% endblock %}
{% load  crispy_forms_tags %}
{% load staticfiles %}
{% load summary_extras %}
{% block content %}
        <div class="col-sm-6" id="article-editor">
            {% crispy form %}
        </div>
        <div class="col-sm-6">
            {% block preview %}
                <div class="article-title-preview">
                    <h2 id="article-title">{{ article.title }}</h2>
                </div>
                <div id="id-article-body-preview">
                    <article id="article-preview-body">
                        {{ article.article_body | md | banxss | safe }}
                    </article>
                </div>
            {% endblock %}
        </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.0/showdown.min.js"></script>
    <script src="{% static "js/my.js" %}"></script>
{% endblock %}