{% extends "backend_base.html" %}
{% block title %}SignIn{% endblock %}
{% block content %}
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <strong><p class="errorlist">{{ status }}</p></strong>
    <form action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group label-tag-name">
          {% if field.label %}
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
            </label>
          {% endif %}
          {{ field }}
          {% if field.help_text %}
            <p class="small">{{ field.help_text }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </form>
  </div>
  <div class="col-lg-4"></div>
{% endblock %}
